@using MyLearn.Core.Dtos;
@model ResetPssswordViewModel
@{
    ViewData["Title"] = "بازیابی رمز عبور";
}

<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">تاپ لرن</a></li>
        <li class="breadcrumb-item active" aria-current="page">فراموشی رمز عبور</li>
    </ul>
</nav>

<main class="client-page">
    <div class="container-content">

        <header><h2> بازیابی کلمه عبور </h2></header>

        <div class="form-layer">

            <form asp-action="ResetPassword" method="post">
                <input type="hidden" asp-for="ActiveCode" />
                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="Password" type="text" class="form-control" placeholder="پسورد" aria-describedby="email-address">

                </div>
                <span asp-validation-for="Password"></span>
                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="RePassword" type="text" class="form-control" placeholder="تکرار پسورد" aria-describedby="email-address">

                </div>
                <span asp-validation-for="RePassword"></span>

                <button class="btn btn-success"> ارسال </button>

            </form>
        </div>

    </div>
</main>
