@using MyLearn.DataLayer.Entities.User;
@model User

<div  class="alert">
    <h1>کاربر گرامی با نام کاربری @Model.UserName جهت فعالسازی اکانت خود بر روی لینک زیر کلیک کنید</h1>
    <a href="http://localhost:5213/Account/ActiveAccount/@Model.ActiveCode">لینک فعالسازی</a>
</div>
