@using MyLearn.DataLayer.Entities.Forum;


@model Question
<main>
    <div class="container">
        <div class="user-account">
            <div class="row justify-content-center">

                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header><h1>افزودن سوال جدید</h1></header>
                        <div class="inner form-layer">
                            <form asp-action="CreateQuestion" method="post">


                                <input type="hidden" asp-for="CourseId" value="@ViewBag.courseId" class="form-control" />
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label class="text-muted">
                                            عنوان سوال :
                                        </label>
                                        <div class="input-group">
                                            <input asp-for="QuestionTitle" class="form-control" />
                                            <span asp-validation-for="QuestionTitle" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label class="text-muted">
                                            بدنه سوال:

                                        </label>
                                        <div class="input-group">
                                            <textarea asp-for="QuestionBody" class="form-control"></textarea>
                                            <span asp-validation-for="QuestionBody" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <button class="btn btn-success">پرسش سوال </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>



@section Scripts{
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script>

        CKEDITOR.replace('QuestionBody', {
            customConfig: '/js/Config.js'
        });

    </script>
}